body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
div#header-container {
    background-color: #1F2937;
    padding: 38px;
}
nav#nav-links {
    display: flex;
    gap: 10px;
    margin: 20px; 
}
div#header-content {
    display: flex;
    margin: 20px;
    gap: 10px;

}
#text, a:link{
    color: #E5E7EB;
    font-size: 24px;
    font-weight: extra-bold;
    text-decoration: none;
}
#text p, a {
    color:#EFE7EB;
    font-size: 18px;
}
.link-logo {
    color: #F9FAF8;
    font-size: 24px;
    margin-right: auto;
    list-style-type: none;
    font-weight: bolder;
}
li#author, li.link {
    list-style-type: none;
}
div#text, #image-header {
    margin-bottom: 40px;
}
/* Button call to action */
button#button1 {
    background-color: #3882F6;
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
}
/* Content2 container */
#content2-container {
    text-align: center;
    background-color: white;
    padding: 38px;
}
.items p{
    color: #000;
    font-size: normal;
}
#content2-items {
    display: flex;
}
/* Quote section */
div#quote {
    background-color: #E5E7EB;
    padding: 38px;
}
blockquote {
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
}
li#author {
    text-align: right;
    font-weight: bold;
    font-style: normal;
    font-size: large;
}
/* call to action section */
#section-container {
    background-color: white;
    padding: 38px;
}
section {
    display: flex;
    align-items: center;
    background-color: #3882F6;
    color: white;
    padding: 28px;
    gap: 40px;
    border-radius: 7px;
}
#button2 {
    padding: 2px 12px 2px 12px;
    color: white;
    background-color: #3882F6;
    border: solid white 1px;
    border-radius: 4px;
}
section div h2 {
    margin: 0px;
}
section div p {
    margin: 0px;
}
/* Footer section */
footer {
    text-align: center;
    background-color: #1F2937;
    padding: 38px;
    color: #F9FAF8;
    font-size: small;
}
